@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body{
    font-size: 14px;
}

header{
    width: 100%;
    height: 100vh;
    background-color:  var(--header-bg-color);
    color: #ffffff;
}

header #particles{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

header .info-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    height: 100vh;
}

header .info-text h1{
    text-overflow: unset;
    font-size: 5rem;
    font-weight: 500;
    font-family: 'Ubuntu';
}

header .info-text h3{
    font-size: 1.5rem;
    text-overflow: unset;
}

header .info-text .scroll{
    position: absolute;
    bottom: 20%;
    left: 50%;
    color: #ffffff;
    transform: translate(0, -50%);
    transition: all 0.5s;
}

header .info-text .scroll:hover{
    opacity: 0.5;
}

header .info-text .scroll::before{
    position: absolute;
    top: -16px;
    left: -16px;
    z-index: -1;
    content: '';
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0%, 100%{
        opacity: 0;
    }
    15%, 45%{
        opacity: 1;
    }
    60%{
        box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.1);
        opacity: 0;
    }
}

#about, #features{
    background-color:  var(--section-bg-color);
    padding: 40px;
    
}

#about .header,  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

#about .header h1,  .header h1{
    text-overflow: unset;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

#about .header a, .header a{
    text-overflow: unset;
    text-decoration: none;
    font-size: 1.3em;
    color: #ffffff;
    border: 1px solid transparent;
    padding: 10px 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 6px;
    transition: all 0.3s ease;
}

#about .header a:hover,  .header a:hover{
    border-color: #fff;
    box-shadow: none;
}

#about .card,  .card{
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    display: flex;
    gap: 30px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

#about .card:hover, .card:hover{
    border-color: #fff;
    box-shadow: none;
}

#about .card img{
    max-width: 200px;
    max-height: 200px;
}

#about .card .info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-overflow: unset;
}

#about .card .info h1,  .card .info h1{
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 1.7rem;
    font-weight: bold;
    font-family: 'Ubuntu';
    text-overflow: unset;
}

#about .card .info p, .card .info p{
    color: #ffffff;
    font-size: 1.25rem;
    line-height: 1.8rem;
    text-overflow: unset;
}

.scroll-top{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--header-bg-color);
    color: var(--text-color);
    border: 1px solid transparent;
    box-shadow: 0 0px 20px var(--scroll-shadow-color);
    padding: 16px 18px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease;
}

.scroll-top:hover{
    border-color: var(--text-color);
    box-shadow: none;
}

@media screen and (max-width: 720px) {
    header .info-text h1, .connect-link{
        font-size: 4rem;
    }

    header .info-text h3, .connect-link{
        font-size: 1.1rem;
    }

    #about .card, .connect-link{
        flex-direction: column;
        align-items: center;
    }

    #about .card img{
        max-width: 150px;
        max-height: 150px;
    }

}

.link:hover {
   transform: scale(1.5);
    padding-left: 2rem;
    padding-right: 2rem;
}

.icon{
    width: 1.75rem;
    height: 1.75rem;
    filter: invert(100%) sepia(100%) saturate(1300%) hue-rotate(10deg) brightness(50%) contrast(100%);
    
  }
  .name-link{
    box-sizing: border-box;
}
.link{
    text-decoration: none;
    justify-content: center;
    align-items: center;    
    text-align: center;
    display: flex;
    gap: 1rem;
    
    overflow: hidden;
    filter: invert(000%) sepia(000%) saturate(0%) hue-rotate(1deg) brightness(150%) contrast(1000%);
    transition: all 0.5s;
}
.connect-link{
    padding: 40px;
    opacity: 0.8;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem ;
}
@keyframes pulse-text {
    0%, 100%{
        color: #5e5e5e;
    }
    30%, 60%{
        color: #ccffbdab;
    }

}
.name-text{
    text-decoration: none;
    animation: pulse-text 2s infinite;
}
#toggle-theme{
    display: block;
    position: fixed;
    padding: 0.5rem;
    margin-left: 37.25%;
    margin-top: 1%;
    z-index: 1;
    border-radius: 0.5rem;
}
:root{
    --header-bg-color: #131313;
    --section-bg-color:#131313;
    --text-color:#ffffff;
    --panel-bg-color: #646464;
    --scroll-shadow-color:rgba(255, 255, 255, 0.404);
  }
  :root[theme='dark'] {
    --header-bg-color: #535353;
    --section-bg-color:#535353;
    --text-color:#000000;
    --panel-bg-color: #fafafa;
    --scroll-shadow-color:rgba(0, 0, 0, 0.404);
    
  }
  input[type=button] {
    color: var(--text-color);
    background: var(--panel-bg-color);
  }
  
  .button {
    font-size: 1rem;
    font-weight: 4  00;
    font-family: 'Ubuntu';
    width: 25%;
    height: 50px;
    border: none;
    outline: none;
    background: #ffffff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}


