@font-face {
    font-family: 'gilroy';
    src: url(fonts/Handjet-Black.ttf);
}
body{
    background: linear-gradient(black, rgb(0, 20, 22));
    background-size:cover;
    background-repeat: no-repeat; 
    background-position: center;
    margin: 0;
    padding: 0;
    background-attachment: fixed; 
    width: 100%;
    font-family: 'gilroy';
}
.panel{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    width: 10rem;
    height: 30rem;
    color:aliceblue;
    transition: all 0.5s;
}
.point-close{
    display: block;
    position: static;
    margin-left: 8rem;
    margin-top: 2rem;
    font-size: 40px;
    font-family: 'gilroy';
    transition: all 0.5s;
}
.information-panel{
    width: 0rem;
    overflow: hidden;
    font-weight: 400;
    font-size: 25px;
    color:aliceblue;
    display: grid;
    grid-gap: 2rem;
    transition: all 0.5s;
}
.panel:hover .information-panel{
    width: 10rem;
}
.panel:hover .point-close{
    margin-left: 0rem;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}
.about{
    color:white;
    text-decoration: none;
}
.conn{
    color: white;
    text-decoration: none;
}
.inf1{
    background: linear-gradient(rgba(0, 47, 51, 0), rgba(29, 29, 29, 0));
    margin-top: 4rem;
    width: 9.85rem;
    padding: 1rem 0rem 1rem 0rem;
    transition: all 0.4s;
    border-radius: 0rem;
}
.inf2{
    width: 9.95rem;
    padding: 1rem 0rem 1rem 0rem;
    transition: all 0.4s;
    border-radius: 0rem;
}
.inf1:hover{
    background: linear-gradient(rgba(0, 47, 51, 0.527), rgb(29, 29, 29, 0.527));
    border-radius: 0rem;
    border-right:2px solid rgba(255, 255, 255, 0.315);
    text-shadow: 0 0px 20px rgb(255, 255, 255);
}
.inf2:hover{
    background: linear-gradient(rgb(0, 47, 51, 0.527), rgb(29, 29, 29, 0.527));
    border-radius: 0rem;
    border-right:2px solid rgba(255, 255, 255, 0.315);
    text-shadow: 0 0px 20px rgb(255, 255, 255);
}
.content{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: aliceblue;
    height: 100%;
    min-width: 100%;
}
.link-github, .link-telegram, .link-email{
    text-decoration: none;
    justify-content: center;
    align-items: center;    
    text-align: center;
    display: flex;
    gap: 5rem;
    filter: invert(100%) sepia(0%) saturate(000%) hue-rotate(1deg) brightness(99%) contrast(100%);
    transition: all 0.5s;
}
.link-github:hover, .link-telegram:hover, .link-email:hover{
  gap: 1rem;
}
.link-github:hover, .gihub{
    filter: invert(000%) sepia(0%) saturate(000%) hue-rotate(1deg) brightness(99%) contrast(100%);
}
.link-telegram:hover, .tg{
    filter: invert(000%) sepia(0%) saturate(000%) hue-rotate(1deg) brightness(99%) contrast(100%);
}
.link-email:hover, .mail{
    filter: invert(000%) sepia(0%) saturate(000%) hue-rotate(1deg) brightness(99%) contrast(100%);
}
.gihub, .tg, .mail{
    width: 2rem;
    height: 2rem;
    filter: invert(100%) sepia(0%) saturate(000%) hue-rotate(1deg) brightness(99%) contrast(100%);
}

.github, .telegram, .email{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
.contact{
    border-radius: 0.75rem;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    min-width: 20%;
    max-width: 25%;
    background-color: rgba(90, 90, 90, 0.39);
    margin-left: 32.5%;
    margin-top: -15rem;
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.212);
    transition: all 0.7s;
    text-decoration: none;
}
.contact:hover{
    box-shadow: 0 0 20px rgb(255, 255, 255);
    background-color: rgb(90, 90, 90);
    border-radius: 3rem;
}
.light {
    position: absolute;
    width: 0px;
    opacity: .75;
    background-color: white;
    box-shadow: #b930b9 0px 0px 20px 2px;
    opacity: 0;
    top: 100vh;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}

.x1{
  -webkit-animation: floatUp 4s infinite linear;
  -moz-animation: floatUp 4s infinite linear;
  -o-animation: floatUp 4s infinite linear;
  animation: floatUp 4s infinite linear;
   -webkit-transform: scale(1.0);
   -moz-transform: scale(1.0);
   -o-transform: scale(1.0);
  transform: scale(1.0);
}

.x2{
  -webkit-animation: floatUp 7s infinite linear;
  -moz-animation: floatUp 7s infinite linear;
  -o-animation: floatUp 7s infinite linear;
  animation: floatUp 7s infinite linear;
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -o-transform: scale(1.6);
  transform: scale(1.6);
  left: 15%;
}

.x3{
  -webkit-animation: floatUp 2.5s infinite linear;
  -moz-animation: floatUp 2.5s infinite linear;
  -o-animation: floatUp 2.5s infinite linear;
  animation: floatUp 2.5s infinite linear;
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  -o-transform: scale(.5);
  transform: scale(.5);
  left: -15%;
}

.x4{
  -webkit-animation: floatUp 4.5s infinite linear;
  -moz-animation: floatUp 4.5s infinite linear;
  -o-animation: floatUp 4.5s infinite linear;
  animation: floatUp 4.5s infinite linear;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  left: -34%;
}

.x5{
  -webkit-animation: floatUp 8s infinite linear;
  -moz-animation: floatUp 8s infinite linear;
  -o-animation: floatUp 8s infinite linear;
  animation: floatUp 8s infinite linear;
  -webkit-transform: scale(2.2);
  -moz-transform: scale(2.2);
  -o-transform: scale(2.2);
  transform: scale(2.2);
  left: -57%;
}

.x6{
  -webkit-animation: floatUp 3s infinite linear;
  -moz-animation: floatUp 3s infinite linear;
  -o-animation: floatUp 3s infinite linear;
  animation: floatUp 3s infinite linear;
  -webkit-transform: scale(.8);
  -moz-transform: scale(.8);
  -o-transform: scale(.8);
  transform: scale(.8);
  left: -81%;
}

.x7{
  -webkit-animation: floatUp 5.3s infinite linear;
  -moz-animation: floatUp 5.3s infinite linear;
  -o-animation: floatUp 5.3s infinite linear;
  animation: floatUp 5.3s infinite linear;
  -webkit-transform: scale(3.2);
  -moz-transform: scale(3.2);
  -o-transform: scale(3.2);
  transform: scale(3.2);
  left: 37%;
}

.x8{
  -webkit-animation: floatUp 4.7s infinite linear;
  -moz-animation: floatUp 4.7s infinite linear;
  -o-animation: floatUp 4.7s infinite linear;
  animation: floatUp 4.7s infinite linear;
  -webkit-transform: scale(1.7);
  -moz-transform: scale(1.7);
  -o-transform: scale(1.7);
  transform: scale(1.7);
  left: 62%;
}

.x9{
  -webkit-animation: floatUp 4.1s infinite linear;
  -moz-animation: floatUp 4.1s infinite linear;
  -o-animation: floatUp 4.1s infinite linear;
  animation: floatUp 4.1s infinite linear;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  left: 85%;
}
@-webkit-keyframes floatUp{
    0%{top: 100vh; opacity: 0;}
    25%{opacity: 1;}
    50%{top: 0vh; opacity: .8;}
    75%{opacity: 1;}
    100%{top: -100vh; opacity: 0;}
  }
  @-moz-keyframes floatUp{
    0%{top: 100vh; opacity: 0;}
    25%{opacity: 1;}
    50%{top: 0vh; opacity: .8;}
    75%{opacity: 1;}
    100%{top: -100vh; opacity: 0;}
  }
  @-o-keyframes floatUp{
    0%{top: 100vh; opacity: 0;}
    25%{opacity: 1;}
    50%{top: 0vh; opacity: .8;}
    75%{opacity: 1;}
    100%{top: -100vh; opacity: 0;}
  }
  @keyframes floatUp{
    0%{top: 100vh; opacity: 0;}
    25%{opacity: 1;}
    50%{top: 0vh; opacity: .8;}
    75%{opacity: 1;}
    100%{top: -100vh; opacity: 0;}
  }
